[submodule "themes/liva-hugo"]
	path = themes/liva-hugo
	url = git@github.com:gabrieleangeletti/liva-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:gabrieleangeletti/gabrieleangeletti.github.io.git
	branch = master
